<a href="https://colab.research.google.com/github/shaffayqazi/20SW108/blob/main/LAB_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np

#**Task 1**

In [8]:


distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

dist_planets = pd.Series(distance_from_sun, index=planets)

speed_of_light = 18
time_light = dist_planets / speed_of_light

close_planets = dist_planets[time_light < 40]

print(dist_planets)
print(time_light)
print(close_planets)

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64
Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64
Earth    149.6
Mars     227.9
Venus    108.2
dtype: float64

#**Task 2**

In [14]:
import pandas as pd
import numpy as np

books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])
authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', 'H. G. Wells', 'Lewis Carroll'])
user_1 = pd.Series(data=[3.2, np.nan, 2.5])
user_2 = pd.Series(data=[5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data=[4, 3.5, 4, 5, 4.2])

dat = {'Author': authors, 'Book Title': books, 'User 1': user_1, 'User 2': user_2, 'User 3': user_3, 'User 4': user_4}

book_ratings = pd.DataFrame(dat)

book_ratings.fillna(book_ratings.mean(), inplace=True)

best_rated = book_ratings[(book_ratings == 5).any(axis=1)]['Book Title'].values

print(book_ratings)
print(best_rated)

                Author           Book Title  User 1  User 2    User 3  User 4
0      Charles Dickens   Great Expectations    3.20   5.000  2.000000     4.0
1       John Steinbeck      Of Mice and Men    2.85   1.300  2.300000     3.5
2  William Shakespeare     Romeo and Juliet    2.50   4.000  2.766667     4.0
3          H. G. Wells     The Time Machine    2.85   3.800  4.000000     5.0
4        Lewis Carroll  Alice in Wonderland    2.85   3.525  2.766667     4.2
['Great Expectations' 'The Time Machine']

<ipython-input-14-16d47de65b28>:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  book_ratings.fillna(book_ratings.mean(), inplace=True)

#**Task 3**

task 3 is in files of the colab. right on the left side of the bar