<a href="https://colab.research.google.com/github/shaffayqazi/20SW108/blob/main/LAB_1_20sw108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Lab#01-Data Types and Operators**
## **20sw108**
## **Section#2**

#Task1

 Write two lines of code below, each assigning a value to a variable# Now write a print statement using .format() to print out a sentence and the #   values of both of the variables

In [11]:
num1 = 10
variable2 = 5.5

In [12]:
print("the variable1 is {} and the variable2 is {}".format(num1,num2))

the variable1 is 10 and the variable2 is 5.5

# Task2
 Browse the complete list of string methods at:# https://docs.python.org/3/library/stdtypes.html#string-methods# and try them out here

In [14]:
text = "hello world"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

In [15]:
text = "hello world"
uppercase_text = text.upper()
print(uppercase_text)

HELLO WORLD

In [17]:
text = "Hello World"
lowercase_text = text.lower()
print(lowercase_text)

hello world

In [19]:
text = "Hello World"
swapped_text = text.swapcase()
print(swapped_text)

hELLO wORLD

In [21]:
text = "hello world"
title_text = text.title()
print(title_text)

Hello World

In [23]:
text = "hello world"
count_o = text.count('o')
print(count_o)

2

In [24]:
text = "hello world"
index_o = text.find('o')
print(index_o)

4

In [25]:
text = "hello world"
new_text = text.replace('world', 'Python')
print(new_text)

hello Python

In [26]:
text = "hello world"
splitted_text = text.split(' ')
print(splitted_text)

['hello', 'world']

In [27]:
words = ["hello", "world"]
joined_text = '-'.join(words)
print(joined_text)

hello-world

In [28]:
text = "   hello world   "
stripped_text = text.strip()
print(stripped_text)

hello world

#Task 3
Use list indexing to determine how many days are in a particular month based on the integer variablemonth, and store that value in the integer variablenum_days. For example, ifmonthis 8,num_daysshould be set to 31, since the eighth month, August, has31 days.Remember to account for zero-based indexing!

In [35]:
month = 8
month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

num_days = month_days[month - 1]

print("The number of days in month %s is %d" % (month, num_days))

The number of days in month 8 is 31

# Task 4
Select the three most recent dates from this list using list slicing notation. Hint: negative indexes work in slices!

In [36]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# Task 5
Store student’s data using nested dictionary.

In [40]:
students = {
    "student1": {
        "name": "Alice",
        "age": 18,
        "grade": "12th"
    },
    "student2": {
        "name": "Bob",
        "age": 17,
        "grade": "11th"
    },
    "student3": {
        "name": "Charlie",
        "age": 16,
        "grade": "10th"
    }
}

In [41]:

print(students["student1"]["name"])

print(students["student2"]["age"])

print(students["student3"]["grade"])

Alice
17
10th